 *{
   margin: 0;
   padding: 0;
 }

 /*Navbar */

 .navbar-nav{
   font-size: 18px;
 }
 .navbar{
   position: sticky;
   top: 0;
   z-index: 1;
   

 }

 #carouselExampleIndicators{
    margin: auto;
    width: 50%;
    border: 3px ;
    padding: 10px;
  }

  .container-fluid{
    margin: auto;
    width: 50%;
    border: 3px ;
    padding: 10px;
  }

 /*progress Bar */

  .progress{
    height: 30;
    border-radius: 50;
    transition: all 0.5s ease;
  }

  .progress:hover{
    transform: scale(1.1);
  }
  /* Card*/

  .card{
    transition: all 0.5s ease;
  }

  .card img{
    height: 100px;
    width: 100px;
    margin: auto;
  }
  .card:hover{
    transform: scale(1.1);
    box-shadow: 1px 2px 10px blue;
  }

/* Button */
.btn:hover{
  color: white;
}
